# PHP Site Settings
php_value max_execution_time 3600
php_value upload_max_filesize 100M
php_value post_max_size 220M
php_value memory_limit 256M
# End PHP Site Settings

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

ExpiresActive on
ExpiresByType image/jpeg A604800
ExpiresByType image/gif A604800
ExpiresByType image/png A604800
ExpiresByType application/x-shockwave-flash A604800
ExpiresByType audio/mpeg A604800
ExpiresByType text/x-javascript A604800
ExpiresByType image/x-icon A604800
ExpiresByType text/css A604800
ExpiresByType font/eot A604800
ExpiresByType font/ttf A604800
ExpiresByType text/javascript A604800
ExpiresByType text/xml A604800
ExpiresByType application/x-javascript A604800
